@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
   <header class="row">
       <div class="text-center">
            <h1 class="display-2">
                <span class="d-block">Hello,I´m TecnoSoftware</span>
            </h1>
            <p class="text-muted fw-light text-capitalize">
                Company dedicated to the technological solutions of the market. 
            </p>
            <div class="d-md-block icons-social-networks text-center">
               <a href="#" target="_blank" class="bg-facebook">
                   <img src=./img/facebook.svg alt="Facebook"/>
               </a>
               <a href="#" target="_blank" class="bg-tiwtter mx-2">
                   <img src="./img/twitter.svg" alt="Twitter"/>
               </a>
             </div>
       </div>
       <div class="col 8 col-md-4">
           &nbsp;
            <div class="photo-frame position-relative shadow"> 
                <img src=~/img/players.jpg alt="Benjamin" class="w-100"/>  
            </div>
            <div class="text-center">
                 <h2>
                    PLAYERS
                </h2>
                <h6>
                    This module is used to create and manage existing players.
                </h6>
                <a asp-controller="Jugadores" asp-action="Index"  class="btn btn-primary"><i class="fa-solid fa-person-circle-plus text-dark"></i> Get into</a>
            </div>
       </div>
        <div class="col 8 col-md-4">
           &nbsp;
            <div class="photo-frame position-relative shadow"> 
                <img src=~/img/equipos.jpg alt="Benjamin" class="w-100"/>
            </div>
            <div class="text-center">
                 <h2>
                    TEAMS
                </h2>
                <h6>
                    This module is used to create and manage existing teams.
                </h6>
                <a asp-controller="Equipoes" asp-action="Index"  class="btn btn-primary"><i class="fa-solid fa-flag-usa text-dark"></i> Get into</a>
            </div>
       </div>
       <div class="col 8 col-md-4">
           &nbsp;
            <div class="photo-frame position-relative shadow"> 
                <img src=~/img/states.jpg alt="Benjamin" class="w-100"/>
            </div>
            <div class="text-center">
                 <h2>
                    STATES
                </h2>
                <h6>
                   This module is used to create and manage existing states.
                </h6>
                <a asp-controller="Estado" asp-action="Index"  class="btn btn-primary"><i class="fa-solid fa-arrow-right-to-city text-dark"></i> Get into</a>
            </div>
       </div>
   </header>
</div>
